@page
@model StripeWelcome
@{
    ViewData["Title"] = "Return Stripe Page";
}

<div class="text-center">
    <h1 class="display-4">Thank you</h1>
    <p>Stripe account is connected and Active and you can receive transfers.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
